@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* variables conf */
/* header mixin conf */
/* heart mixin conf */
/* heart mixin animation conf */
/* linear gradient mixin conf */
/* footer mixin conf */
/* page reset and conf */
* {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* body conf */
body {
  font-family: "Roboto", sans-serif;
  min-width: 390px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* link conf */
a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

/* variables conf */ /* main page style */
main {
  position: absolute;
}

/* page style */
.description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
}
.description h2 {
  font-size: 34px;
  margin: 20px 10px;
  justify-content: center;
  text-align: center;
}
.description p {
  justify-items: center;
  font-size: larger;
  text-align: center;
}
.description-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* page loader */
.orbit-spinner {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* selection section & button style conf */
#fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 0px 0px;
  padding-bottom: 60px;
  background-color: #FFFFFF;
  width: 100%;
}
#fonctionnement .fonctionnement-box {
  display: flex;
  flex-direction: column;
}
#fonctionnement .a:hover {
  cursor: pointer;
}
#fonctionnement .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#fonctionnement .icon-1 {
  display: flex;
  margin-left: -18px;
  background-color: #9356DC;
  color: #FFFFFF;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
#fonctionnement .icon-2 {
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  color: #807e7e;
  font-size: 30px;
  margin: 0 25px;
}
#fonctionnement .choose {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 20px;
  width: 120%;
}
#fonctionnement .choose:hover .icon-2 {
  color: #9356DC;
}
#fonctionnement .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#fonctionnement .local {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* rstaurants card style */
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F2F2F2;
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
}
.restaurants-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.restaurants h2 {
  margin: 0;
  padding: 30px 20px 10px;
}
.restaurants-container {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  width: auto;
  height: auto;
  margin: 20px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #a8a5a5;
}
.restaurants-container:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.restaurants-container-link {
  width: 100%;
  /* Nouveau little card conf */
}
.restaurants-container-link.new {
  position: relative;
}
.restaurants-container-link.new::before {
  content: "Nouveau";
  position: absolute;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: #1b6150;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 15px;
}
.restaurants-container img {
  height: 180px;
  width: 360px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.restaurants-container-photos-cards-description {
  position: relative;
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  justify-content: space-between;
  margin: 0 10px;
  /* heart hover conf */
}
.restaurants-container-photos-cards-description::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 600ms ease-in-out;
}
.restaurants-container-photos-cards-description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 600ms ease-in-out;
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 0.8;
  opacity: 0;
  color: transparent;
  font-weight: 900;
}
.restaurants-container-photos-cards-description:hover::after {
  opacity: 1;
  transform: translateY(-50%);
}
.restaurants-container h3 {
  margin: 10px 0;
}
.restaurants-container p {
  margin: 0 0 10px 10px;
  display: flex;
  justify-items: flex-start;
}

/* footer mixin inculding */
body footer {
  background-color: #504f4f;
  padding: 20px;
  color: #FFFFFF;
}
body footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
}
body footer p, body footer a {
  margin: 10px 0;
}
body footer a {
  color: #FFFFFF;
}
body footer .footer-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body footer .footer-link i {
  flex-basis: 30px;
}

/* smart phone & tablette conf */
@media screen and (min-width: 768px) {
  .description .nav-bar .location__dot__icon {
    margin-left: 50px;
  }
  .description .nav-bar .location-bar {
    justify-content: center;
  }
  .description .nav-bar .location-bar input {
    width: 100%;
  }
  .button-main {
    margin-bottom: 40px;
  }
  #fonctionnement {
    flex-direction: column;
  }
  #fonctionnement .fonctionnement-box {
    align-items: center;
    width: 100%;
  }
  #fonctionnement .fonctionnement-box .choose {
    width: 100%;
  }
  .restaurants {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .restaurants-box {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  #footer .footer {
    display: flex;
    flex-direction: column;
  }
  #footer .footer h2 {
    display: flex;
    justify-content: center;
  }
  #footer .footer-description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #footer .footer-description p {
    min-width: max-content;
    margin-left: 10px;
  }
}
/* desktop conf */
@media screen and (min-width: 992px) {
  #fonctionnement .fonctionnement-box {
    flex-direction: column;
    justify-content: center;
  }
  #fonctionnement .fonctionnement-box .button-fonction {
    margin: 15px 0;
  }
}
@media screen and (min-width: 1024px) {
  #fonctionnement .fonctionnement-box {
    flex-direction: column;
    justify-content: center;
  }
  #fonctionnement .fonctionnement-box .button-fonction {
    margin: 15px;
  }
}
@media screen and (min-width: 1100px) {
  #fonctionnement .fonctionnement-box {
    flex-direction: row;
    justify-content: center;
  }
  #fonctionnement .fonctionnement-box .button-fonction {
    margin: 15px;
  }
}
@media screen and (min-width: 1180px) {
  #fonctionnement .fonctionnement-box {
    flex-direction: row;
    justify-content: center;
  }
  #fonctionnement .fonctionnement-box .button-fonction {
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  #fonctionnement .fonctionnement-box {
    flex-direction: row;
    justify-content: space-around;
  }
  #fonctionnement .fonctionnement-box .button-fonction {
    width: 28%;
  }
}
@media screen and (min-width: 1400px) {
  #fonctionnement .fonctionnement-box {
    flex-direction: row;
    justify-content: space-around;
  }
  #fonctionnement .fonctionnement-box .button-fonction {
    width: 24%;
  }
}
@media screen and (min-width: 1500px) {
  #fonctionnement .fonctionnement-box {
    flex-direction: row;
    justify-content: space-around;
  }
  #fonctionnement .fonctionnement-box .button-fonction {
    width: 24%;
  }
}
@media screen and (min-width: 1600px) {
  #fonctionnement .fonctionnement-box {
    flex-direction: row;
    justify-content: space-around;
  }
  #fonctionnement .fonctionnement-box .button-fonction {
    width: 18%;
  }
}
.loader-calc {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8b8b8b;
  opacity: 95%;
  z-index: 1000;
  animation: loader 1500ms 3s forwards;
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.animations {
  z-index: 10001;
}
.animations .orbit-spinner {
  bottom: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  perspective: 800px;
}
.animations .orbit-spinner .orbit {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.animations .orbit-spinner .orbit:nth-child(1) {
  margin: auto;
  animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
  border-bottom: 5px solid #9356DC;
}
.animations .orbit-spinner .orbit:nth-child(2) {
  right: 0%;
  top: 0%;
  animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
  border-right: 5px solid #FF79DA;
}
.animations .orbit-spinner .orbit:nth-child(3) {
  right: 0%;
  bottom: 0%;
  animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
  border-top: 5px solid #99E2D0;
}
@keyframes orbit-spinner-orbit-one-animation {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes orbit-spinner-orbit-two-animation {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes orbit-spinner-orbit-three-animation {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes check-animation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes card-animation {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* buttons conf */
.button-selection {
  display: flex;
}
.button-main {
  margin: 20px 0 60px 0;
  color: #FFFFFF;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0 20px;
  height: 50px;
  font-size: 20px;
  box-shadow: 5px 5px 5px #a8a5a5;
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 0.8;
}
.button-main:hover {
  transform: scale(1.1);
  filter: brightness(1.3);
}
.button-commander {
  margin: 20px 0 60px 0;
  color: #FFFFFF;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0 40px;
  height: 50px;
  font-size: 20px;
  box-shadow: 5px 5px 5px #a8a5a5;
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 0.8;
}
.button-commander:hover {
  transform: scale(1.1);
  filter: brightness(1.3);
}
.button-fonction {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 5px #a8a5a5;
  border-radius: 25px;
  width: 95%;
  margin: 15px 15px 25px 10px;
}
.button-fonction:hover {
  transform: scale(1.1);
}

/* buttons scale animation conf */
@keyframes crescendo {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.5);
  }
}
/* buttons mediaqueries conf */
@media screen and (min-width: 768px) {
  .button-fonction {
    width: 45%;
    margin: 15px;
  }
}
@media screen and (min-width: 780px) {
  .button-fonction {
    width: 41%;
    margin: 15px;
  }
}
@media screen and (min-width: 992px) {
  .button-fonction {
    width: 35%;
    margin: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .button-fonction {
    width: 35%;
    margin: 15px;
  }
}
@media screen and (min-width: 1180px) {
  .button-fonction {
    width: 35%;
    margin: 15px;
  }
}
@media screen and (min-width: 1500px) {
  .button-fonction {
    width: 18%;
    margin: 15px;
  }
}
/* header style */
#header .logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header img {
  height: auto;
  width: 50%;
}

.description .nav-bar {
  display: flex;
  justify-content: center;
  border-top: 4px solid #c2bfbf;
  width: 100%;
}
.description .location-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  flex-basis: 100%;
}
.description .location-bar .location__dot__icon {
  font-size: 25px;
  margin: 0 10px;
}
.description .location-bar input {
  display: flex;
  border: none;
  height: 80px;
  background-color: #e0e0e0;
  font-size: 24px;
  width: 40%;
  padding-left: 15px;
}
.description .location-bar input::placeholder {
  color: #000000;
}
.description .location-bar .__dot {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  padding: 0 15px;
}

/* header & input media queries conf */
@media screen and (min-width: 768px) {
  #header {
    width: 100%;
    margin-right: 0;
  }
  #header .logo img {
    height: 55%;
    width: 30%;
  }
  #header .menu-logo {
    margin: 0;
  }
  .description .nav-bar .location-bar {
    justify-content: center;
  }
  .description .nav-bar .location-bar input {
    width: 25%;
  }
}
@media screen and (min-width: 992px) {
  .description .nav-bar .location-bar {
    justify-content: center;
  }
  .description .nav-bar .location-bar input {
    width: 18%;
  }
}
@media screen and (min-width: 1180px) {
  .description .nav-bar .location-bar {
    justify-content: center;
  }
  .description .nav-bar .location-bar input {
    width: 16%;
  }
}
@media screen and (min-width: 1200px) {
  .description .nav-bar .location-bar {
    justify-content: center;
  }
  .description .nav-bar .location-bar input {
    width: 14%;
  }
}
@media screen and (min-width: 1600px) {
  .description .nav-bar .location-bar {
    justify-content: center;
  }
  .description .nav-bar .location-bar input {
    width: 10%;
  }
}
main {
  position: absolute;
}

#header .logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header img {
  height: auto;
  width: 50%;
}
#header .menu-logo {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
#header .menu-logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#header .menu-logo .image {
  height: auto;
  width: 200px;
  margin: auto;
}

.menus {
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.menus-container {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  height: auto;
  margin: 0;
}
.menus-photo {
  height: 280px;
  width: 100%;
}
.menus-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.categories {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: auto;
  background-color: #F2F2F2;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  overflow: hidden;
}
.categories h1 {
  font-family: "Shrikhand", "sans-serif";
  font-size: x-large;
  margin: 20px 10px;
}
.categories-title {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}
.categories-title::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 600ms ease-in-out;
}
.categories-title::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 600ms ease-in-out;
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 0.8;
  opacity: 0;
  color: transparent;
  font-weight: 900;
}
.categories-title:hover::after {
  opacity: 1;
  transform: translateY(-50%);
}
.categories-resto {
  display: flex;
  flex-direction: column;
  animation: card-animation 1s ease-in-out both;
}
.categories-resto:nth-child(0) {
  animation-delay: 0ms;
}
.categories-resto:nth-child(1) {
  animation-delay: 100ms;
}
.categories-resto:nth-child(2) {
  animation-delay: 200ms;
}
.categories-resto:nth-child(3) {
  animation-delay: 300ms;
}
.categories-resto h2 {
  margin: 20px;
  border-bottom: solid 2px #99E2D0;
  width: 50px;
  font-size: 20px;
}
.categories-list {
  width: 372px;
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin: 20px;
  height: 80px;
  box-shadow: 5px 5px 5px #a8a5a5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  animation: card-animation 1s ease-in-out both;
}
.categories-list:nth-child(1) {
  animation-delay: 300ms;
}
.categories-list:nth-child(2) {
  animation-delay: 600ms;
}
.categories-list:nth-child(3) {
  animation-delay: 900ms;
}
.categories-list-description {
  width: 90%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.categories-list-description h3 {
  margin: 10px 10px 5px 10px;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.categories-list-description p {
  font-size: 16px;
  margin: 5px 0px 10px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.categories-list-description-price {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  align-items: flex-end;
  margin-bottom: 13px;
}
.categories-list-check {
  margin-right: -60px;
  height: 100%;
  flex-basis: 60px;
  background-color: #99E2D0;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  transition: margin-right 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.categories-list-check i {
  display: flex;
  background: #FFFFFF;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #99E2D0;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
}
.categories-list:hover .categories-list-check {
  margin-right: 0;
}
.categories-list:hover i {
  animation: check-animation 1s ease-in-out;
}

#footer .menu-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

@media screen and (min-width: 500px) {
  #header {
    width: 100%;
    margin: 0;
  }
  #header .menu-logo {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }
  #header .menu-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #header .menu-logo .image {
    height: auto;
    width: 300px;
    margin: auto;
  }
  .menus {
    width: 100%;
  }
  .menus-container {
    width: 100%;
    margin: 0;
  }
  .menus .categories-title {
    width: 96%;
  }
  .menus .categories-resto {
    width: 98%;
  }
  .menus .categories-resto-list {
    width: 100%;
  }
  .menus .categories-list {
    width: 96%;
  }
  .menus .categories-list-description {
    width: 93%;
  }
  .menus .categories-container {
    width: 96%;
    margin: 0;
  }
  .categories {
    width: 100%;
  }
  #menu-footer {
    width: 100%;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  #header {
    width: 100%;
    margin: 0;
  }
  #header .menu-logo {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }
  #header .menu-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #header .menu-logo .image {
    height: auto;
    width: 300px;
    margin: auto;
  }
  .menus {
    width: 100%;
  }
  .menus-container {
    width: 100%;
    margin: 0;
  }
  .menus .categories-title {
    width: 98%;
  }
  .menus .categories-resto {
    width: 100%;
  }
  .menus .categories-resto-list {
    width: 100%;
  }
  .menus .categories-list-description {
    width: 101%;
  }
  .menus .categories-container {
    width: 96%;
    margin: 0;
  }
  .categories {
    width: 100%;
  }
  #menu-footer {
    width: 100%;
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  #header {
    width: 100%;
    margin: 0;
  }
  #header .menu-logo {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }
  #header .menu-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #header .menu-logo .image {
    height: auto;
    width: 500px;
    margin: auto;
  }
  .menus {
    width: 100%;
  }
  .menus-container {
    width: 100%;
    margin: 0;
  }
  .menus .categories-title {
    width: 98%;
  }
  .menus .categories-resto {
    width: 100%;
  }
  .menus .categories-resto-list {
    width: 100%;
  }
  .menus .categories-list {
    width: 96%;
  }
  .menus .categories-list-description {
    width: 108%;
  }
  .menus .categories-container {
    width: 96%;
    margin: 0;
  }
  #menu-footer {
    width: 100%;
    padding: 0;
  }
}
@media screen and (min-width: 993px) {
  .categories-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menus {
    width: 100%;
  }
  .menus-container {
    width: 100%;
    margin: 0;
  }
  .menus .categories-title {
    width: 98%;
  }
  .menus .categories-resto {
    width: 30%;
  }
  .menus .categories-resto-list {
    width: 100%;
  }
  .menus .categories-list {
    width: 95%;
  }
  .menus .categories-list-description {
    width: 101%;
  }
  .menus .categories-container {
    width: 96%;
    margin: 0;
  }
  #menu-footer {
    width: 100%;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .categories-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menus {
    width: 100%;
  }
  .menus-container {
    width: 100%;
    margin: 0;
  }
  .menus .categories-title {
    width: 98%;
  }
  .menus .categories-resto {
    width: 30%;
  }
  .menus .categories-resto-list {
    width: 100%;
  }
  .menus .categories-list {
    width: 95%;
  }
  .menus .categories-list-description {
    width: 101%;
  }
  .menus .categories-container {
    width: 96%;
    margin: 0;
  }
  #menu-footer {
    width: 100%;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
