.button {
    &-selection {
        display: flex;
    }

    &-main {
        margin: 20px 0 60px 0;
        color: #FFFFFF;
        display: flex;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 0 20px;
        height: 50px;
        font-size: 20px;
        @include mixins.linear;

        &:hover {
            transform: scale(1.1);
        }
    }

    &-commander {
        margin: 20px 0 60px 0;
        color: #FFFFFF;
        display: flex;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 0 40px;
        height: 50px;
        font-size: 20px;
        @include mixins.linear;

        &:hover {
            transform: scale(1.1);
        }
    }

    &-fonction {
        display: flex;
        flex-direction: row;
        box-shadow: $box-shadow;
        border-radius: 25px;
        width: 95%;
        margin: 15px 15px 25px 10px;
        padding-left: 10px;

        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
        }

        &:hover.icon-2 {
            color: $Primaire;
        }

    }

}

.quadrado {
    width: 100px;
    height: 100px;
    background: #000;
    animation: crescendo 1.5s alternate infinite ease-in;
}

@keyframes crescendo {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1.5);
    }
}

@media screen and (min-width: 768px) {
    .button {  
        &-fonction {
            width: 45%;
            margin: 15px;
            padding-left: 10px;    
        }    
    }    
}

@media screen and (min-width: 992px) {
    .button {  
        &-fonction {
            width: 35%;
            margin: 15px;
            padding-left: 10px;    
        }    
    }    
}

@media screen and (min-width: 1024px) {
    .button {  
        &-fonction {
            width: 35%;
            margin: 15px;
            padding-left: 10px;    
        }    
    }    
}

@media screen and (min-width: 1180px) {
    .button {  
        &-fonction {
            width: 35%;
            margin: 15px;
            padding-left: 10px;    
        }    
    }    
}

@media screen and (min-width: 1500px) {
    .button {  
        &-fonction {
            width: 18%;
            margin: 15px;
            padding-left: 10px;    
        }    
    }    
}