.button {
    &-selection {
        display: flex;     
    }

    &-main {
        margin: 20px 0 60px 0;
        color: #FFFFFF;
        display: flex;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 0 20px;
        height: 50px;
        font-size: 20px;
        @include mixins.linear;  
    }

    &-fonction {
        display: flex;
        flex-direction: row;
        margin: 0 15px;
        justify-content: center;
        align-items: center;
        box-shadow: $box-shadow;
        border-radius: 25px;
        width: 100%;
        margin: 20px;
    }

}