@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* page reset and conf */
* {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* body conf */
body {
    font-family: 'Roboto', sans-serif;
    min-width: 390px;
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    padding: 0;    
}

/* link conf */
a {
    text-decoration: none;
    color: #000000;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}

h2 {
    font-size: 22px;
}