#header {

    @include mixins.header;
    
}

.description {
    .nav-bar {
        display: flex;
        justify-content: center;
        border-top: 4px solid #929090;
        width: 100%;
    }
    .location-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #e0e0e0;
        flex-basis: 100%;
    
        .location__dot__icon {
            font-size: 25px;
            margin: 0 10px;
        }

        input {
            display: flex;
            border: none;
            height: 80px;
            background-color: #e0e0e0;
            font-size: 24px;
            width: 50%;
            padding-left: 15px;

            &::placeholder {
                color: #000000;
            }
        }
    
        // .h2 {
        //     display: flex;
        //     font-size: 22px;
        // }
    
        .__dot {
            display: flex;
            height: auto;
            width: auto;
            align-items: center;
            padding: 0 15px;
        }
    }
}
