#header {

    @include mixins.header;
    
}

.description {
    .nav-bar {
        // border-top: background-image: 4px solid $linear-line;
        width: 100%;
    }
    .location-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #e0e0e0;
        flex-basis: 100%;
    
        .location__dot__icon {
            font-size: 25px;
            margin: 0 10px;
        }
    
        .h2 {
            display: flex;
            font-size: 22px;
        }
    
        .__dot {
            display: flex;
            height: auto;
            width: auto;
            align-items: center;
            padding: 0 15px;
        }
    }
}
