/* main page style */
main {
    position: absolute;
}

/* page style */
.description {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $button-color;

    h2 {
        font-size: 34px;
        margin: 20px 10px;
        justify-content: center;
        text-align: center;
    }

    p {
        justify-items: center;
        font-size: larger;
        text-align: center;
    }

    &-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/* page loader */
.orbit-spinner {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* selection section & button style conf */
#fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 0px 0px;
    padding-bottom: 60px;
    background-color: #FFFFFF;
    width: 100%;

    .fonctionnement-box {
        display: flex;
        flex-direction: column;
    }

    .a:hover {
        cursor: pointer;
    }

    &.icon-2:hover {
        color: $Primaire;
    }

    .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .icon-1 {
        display: flex;
        margin-left: -18px;
        background-color: $Primaire;
        color: #FFFFFF;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }

    .icon-2 {
        display: flex;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        color: $Icon-color;
        font-size: 30px;
        margin: 0 25px;
    }

    .choose {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $button-color;
        border-radius: 20px;
        width: 120%;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .local {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/* rstaurants card style */
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;

    &-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    h2 {
        margin: 0;
        padding: 30px 20px 10px;
    }

    &-container {
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        width: auto;
        height: auto;
        margin: 20px;
        background-color: #FFFFFF;

        &-link {
            width: 100%;

            /* Nouveau little card conf */
            &.new {
                position: relative;
            }

            &.new::before {
                content: "Nouveau";
                position: absolute;
                height: 30px;
                width: 80px;
                background-color: $Tertiaire;
                color: darken($Tertiaire, 50%);
                display: flex;
                justify-content: center;
                align-items: center;
                right: 15px;
                top: 15px;
            }
        }

        img {
            height: 180px;
            width: 360px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
        }

        &-photos-cards-description {
            position: relative;
            width: 360px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: auto;
            justify-content: space-between;
            margin: 0 10px;

            /* heart hover conf */
            &::before {
                @include mixins.heart;
            }

            &::after {
                @include mixins.heart;
                @include mixins.linear;
                opacity: 0;
                color: transparent;
                font-weight: 900;
            }

            &:hover::after {
                opacity: 1;
                transform: translateY(-50%);
            }
        }

        h3 {
            margin: 10px 0;
        }

        p {
            margin: 0 0 10px 10px;
            display: flex;
            justify-items: flex-start
        }
    }
}

/* footer mixin inculding */
body {
    @include mixins.footer;
}

/* smart phone & tablette conf */
@media screen and (min-width: 768px) {
    .description {
        .nav-bar {
            .location__dot__icon {
                margin-left: 50px;
            }

            .location-bar {
                justify-content: center;

                input {
                    width: 100%;
                }
            }
        }
    }

    .button-main {
        margin-bottom: 40px;
    }

    #fonctionnement {
        flex-direction: column;

        .fonctionnement-box {
            align-items: center;
            width: 100%;

            .choose {
                width: 100%;
            }
        }
    }

    .restaurants {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;

        &-box {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: none;
            margin: 0;
            width: 100%;
        }
    }    

    #footer {
        .footer {
            display: flex;
            flex-direction: column;
                
            h2 {
                display: flex;
                justify-content: center;
            }
    
            &-description {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
    
                p {
                    min-width: max-content;
                    margin-left: 10px;
                }
            }
        }
    }
    
}
 /* desktop conf */
@media screen and (min-width: 992px) {
    #fonctionnement {
        .fonctionnement-box {
            flex-direction: column;
            justify-content: center;
            
            .button-fonction {
                margin: 15px 0;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #fonctionnement {
        .fonctionnement-box {
            flex-direction: column;
            justify-content: center;
            
            .button-fonction {
                margin: 15px;
            }
        }
    }
}

@media screen and (min-width: 1100px) {
    #fonctionnement {
        .fonctionnement-box {
            flex-direction: row;
            justify-content: center;
            
            .button-fonction {
                margin: 15px;
            }
        }
    }
}

@media screen and (min-width: 1180px) {
    #fonctionnement {
        .fonctionnement-box {
            flex-direction: row;
            justify-content: center;
            
            .button-fonction {
                margin: 15px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    #fonctionnement {
        .fonctionnement-box {
            flex-direction: row;
            justify-content: space-around;
            
            .button-fonction {
                width: 28%;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    #fonctionnement {
        .fonctionnement-box {
            flex-direction: row;
            justify-content: space-around;
            
            .button-fonction {
                width: 24%;
            }
        }
    }
}

@media screen and (min-width: 1500px) {
    #fonctionnement {
        .fonctionnement-box {
            flex-direction: row;
            justify-content: space-around;
            
            .button-fonction {
                width: 24%;
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    #fonctionnement {
        .fonctionnement-box {
            flex-direction: row;
            justify-content: space-around;
            
            .button-fonction {
                width: 18%;
            }
        }
    }
}