#header {
    @include mixins.header;
    .menu-logo {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
    
        img {
            margin-right: 65px;
        }
        
    }
}

.menus {
    background-color: #F2F2F2;
    height: 100%;

    h1 {
        font-family: 'Shrikhand';
        font-size: x-large;
        margin: 10px 0;
    }

    &-container {
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        width: auto;
        height: auto;
        background-color: #F2F2F2;

        img {
            height: 180px;
            width: 400px;
        }

        &-photos-cards-description {
            position: relative;
            width: 400px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: auto;
            justify-content: space-between;
            margin: 0 10px;

            &::before {
                @include mixins.heart;
            }

            &::after {
                @include mixins.heart;
                @include mixins.linear;
                opacity: 0;
                color: transparent;
                font-weight: 900;
            }

            &:hover::after {
                opacity: 1;
                transform: translateY(-50%);
            }
        }
    }
}

.gategories {
    display: flex;
    flex-direction: column;

    &-entrées {
        display: flex;
        flex-direction: column;

        h2 {
            margin: 20px;
            border-bottom: solid 2px $Tertiaire; width: 55px;
        }
        

        &-list{
            display: flex;
            flex-direction: column;            
            background-color: #FFFFFF;
            border-radius: 25px;
            margin: 20px;
            height: 80px;

            h3, p {
                margin:10px 15px;
            }
            p {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}